APP_URL=localhost
#ASSET_URL=localhost
APP_DEBUG=true
APP_ENV=local

SANCTUM_STATEFUL_DOMAINS=localhost:10000
CACHE_DRIVER=file
SESSION_DOMAIN=localhost

# Ruta al certificado SSL (rellenado por start.sh desde MYSQL_ATTR_SSL_CA_B64)
MYSQL_ATTR_SSL_CA=/usr/src/app/storage/certs/ca.pem

APP_KEY=base64:TU_APP_KEY_AQUI=

DB_CONNECTION=mysql
DB_HOST=TU_HOST
DB_PORT=TU_PUERTO
DB_DATABASE=defaultdb
DB_USERNAME=TU_USUARIO
DB_PASSWORD=TU_CONTRASEÑA

# Usuario de Pruebas generadoen la migracion insert_test_admin_user
ADMIN_TEST_NAME="Admin Pruebas"
ADMIN_TEST_EMAIL="admin@example.com"
ADMIN_TEST_PASSWORD="admin1234"

# Certificado SSL en base64 para inyectarlo vía start.sh
MYSQL_ATTR_SSL_CA_B64=TU_CERT_BASE64
#Nota: MYSQL_ATTR_SSL_CA_B64 debe ser tu ca.pem codificado en Base64 (sin saltos de línea)